<%= form_for @sea do |f| %>

 <p><li>  <%= f.label :name %>
  <%= f.text_field :name %> </p>

 <p><li>  <%= f.label :temperature %>
  <%= f.number_field :temperature %> </li></p>

 <p><li>  <%= f.label :bio %></p>
  <%= f.text_area :bio %> </li>

 <p><li>  <%= f.label :image_url %>
  <%= f.text_field :image_url %> </li></p>

 <p><li>  <%= f.label :mood %>
  <%= f.text_field :mood %> </li></p>

 <p><li>  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color %> </li></p>

 <p><li>  <%= f.label :scariest_creature %>
  <%= f.text_field :scariest_creature %> </li></p>

 <p><li>  <%= f.label :has_mermaids %>
  <%= f.check_box :has_mermaids %> </li></p>

 <p><li>  <%=  f.submit %> </li></p>

  <% end %>

  <button class="btn btn-info" style="margin: 1em"><a href="/seas">Back</a></button>
  <button class="btn btn-info" style="margin: 1em"><a href="/seas">All Seas</a></button>


  <%= button_to "delete", @sea, "method" => "delete" %>
